.row {
    display: inline-flex;
    justify-content: center;
  }
.column-50{
width: calc(50% - 10px);
}
.space{
width: 20px;
height: 20px;
}
.hide{
    display: none;
}
.full{
    width: 100%;
}
.cen{
    text-align: center;
}
.full-20{
    width: calc(100% - 40px);
}
.top-80{
padding-top: 80px;
}
.page-header-back{
    background: url('./back.jpg');
    background-repeat: repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.1;
    z-index: -2;
}
.box-title{
    font-size: 20px;
    margin: auto;
    padding: 5px;
    width: fit-content;
    border-bottom: 1px solid #007acc;
}
.page-header{
    position: relative;
    padding: 15px;
    background-color: rgba(0,0,0,0.1);
}
.header-box{
    border: 1px solid rgb(146, 146, 146);
    padding: 10px;
    max-width: 350px;
    border-radius: 6px;
    margin: auto;
    text-align: center;
}
.fixed-center{
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.header-title{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}
.header-sub-title{
    font-size: 15px;
    text-align: center;
}
.header-short{
    border: 1px solid rgb(146, 146, 146);
    padding: 10px;
    width: fit-content;
    border-radius: 6px;
    margin: auto;
    text-align: center;
}
.header-des{
    font-size: 12px;
}
.max-300{
    max-width: 300px;
}
.modal-box{
    z-index: 2;
    border-radius: 6px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
    min-width: 200px;
    padding: 10px;
}
.modal-void{
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
}
.modal-close{
position: absolute;
right: 10px;
top: 10px;  
}
.modal-add-option{
padding: 10px;
border-radius: 6px;
cursor: pointer;
text-align: center;
}
.modal-add-option:hover{
background-color: rgba(0,0,0,0.15);
}
.modal-inner{
    padding: 20px;
    max-height: 300px;
    overflow-y: auto;
}
@media screen and (max-width: 800px) {
    .row{
      display: block;
    }
    .column-50{
      width: 100%;
    }
    .max-300 {
        max-width: unset;
    }
    .modal-box{
        position: absolute;
        margin-top: 80px;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        border-radius: 0px;
        transform: translate(0,0);
    }
    .modal-inner {
        max-height: none;
    }
}