.more-box{
  position: relative;
}
.more-default{
  position: relative;
  margin-top: -2px;
  padding: 1px;
  padding-right: 45px;
  padding-left: 15px;
  cursor: pointer;
}
.more-right-icon{
  position: absolute;
  right: 15px;
  top: 12px;
  cursor: pointer;
}
.themeBtn{
  border-radius: 50%;
  border: 1px solid #007acc;
  text-align: center;
  width: 40px;
  height: 40px;
  padding: auto;
  font-size: 25px;
  margin: auto;
  cursor: pointer;
}
.more-options-default{
    position: absolute;
    top: 100%;
    font-size: 15px;
    margin-top: 30px;
    margin-left: -49px;
    border-radius: 6px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
    z-index: 101;
    width: calc(100% + 56px);
}
.more-option-default{
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
}
.more-option-default:hover{
  background-color: rgba(0,0,0,0.15);
}
.more-void{
  position: fixed;
  z-index: 98;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.05);
  top: 0;
  left: 0;
}
@media screen and (max-width: 800px) {
  .more-default{
    padding: 15px;
    width: calc(100% - 30px);
  }
  .more-right-icon{
    right: 28px;
    top: 25px;
  }
}