  
  a {
    text-decoration: none;
  }
  .navbar {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 20;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
  }
  
  .nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
  }
  
  .main-container{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:rgba(0,0,0,0.3);
    z-index: 1;
  }
  
  .nav-logo {
    position: relative;
    align-items: center;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    flex-grow: 1;
  }
  
  .nav-menu {
    display: flex;
    list-style: none;
    text-align: center;
    font-size: 17px;
  }
  
  .nav-links {
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
    border-bottom: 3px solid transparent;
  }
  .fa-logo {
    margin-left: 1rem;
    margin-top: -15px;
    width: 2.25rem;
    height: 2.25rem;
  }
  .fa-logo-text{
    position: absolute;
    top: 0px;
    margin-left: 0.5rem;
  }
  
  .nav-item {
    line-height: 40px;
    margin-right: 1rem;
  }
  
  .nav-item:after {
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width 0.7s ease, background-color 0.5s ease;
  }
  
  .nav-item:hover:after {
    width: 100%;
    background: #007acc;
  }
  
  .nav-item .active {
    color: #007acc;
    border: 1px solid #007acc;
  }
  
  .nav-icon {
    display: none;
  }

  .themeBtn:hover{
    color: #007acc;
  }

  @media screen and (max-width: 800px) {
    
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 80px;
      margin-top: 0;
      left: -110%;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .nav-menu.active {
        padding-left: 0;
      left: 0px;
      opacity: 1;
      transition: all 0.5s ease;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    z-index: 2;
    }
    .nav-item .active {
      color: #007acc;
      border: none;
    }
    .nav-item {
      margin: 0;
    }
    .nav-links {
      padding: 10px;
      width: calc(100% - 20px);
      display: table;
    }
    
    .nav-icon {
      display: block;
      position: absolute;
      top: -8px;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 2rem;
      cursor: pointer;
      color: #007acc;
    }
  }