.profile-photo{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
}

.profile-fullname{
    font-size: 25px;
    font-weight: 700;
    padding: 10px;
    padding-bottom: 0;  
    margin-top: 45px;
}
.profile-email{
    font-size: 15px;
    font-weight: 500;
    padding: 10px;
    padding-top: 5px;
}
.profile-roles{
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
    padding-bottom: 0;
    position: relative;
}
.profile-no-role{
    font-size: 15px;
    padding: 10px;
}
.profile-role{
    margin: 10px;
    padding: 5px;
    border-radius: 6px;
    border: 2px solid #007acc;
    width: fit-content;
}
.row-role{
    display: inline-flex;
}
.profile-data{
    font-size: 15px;
    padding: 10px;
}
.bold{
    font-weight: 500;
    font-size: 15px;
}
.fit-column{
    width: fit-content;
    margin: auto;
}
.profile-resume{
    margin: 10px;
    margin-top: 15px;
    padding: 10px;
    border-radius: 6px;
    border: 2px solid #007acc;
    width: fit-content;
    font-size: 17px;
    cursor: pointer;
}
.profile-resume:hover{
    background-color: rgba(0,0,0,0.1);
}
.profile-status{
    font-size: 15px;
    font-weight: 500;
    padding: 10px;  
}
.profile-status-name{
    margin-top: 10px;
    padding: 5px;
    border-radius: 6px;
    border: 2px solid #007acc;
    width: fit-content;
    font-size: 15px;
    color: #007acc;
}
.photo-edit{
    position: absolute;
    padding: auto;
    text-align: center;
    font-size: 30px;
    z-index: 1;
    background-color: rgba(0,0,0,0.04);
    cursor: pointer;
}
.border-less{
    border: none; 
    height: calc(100% + 2px);
    border-radius: 50%;
    margin-top: -1px;
}
.photo-edit-icon{
    margin-top: 50%;
    color: #fff;
    transform: translateY(-50%);
}
.profile-status-des{
    padding: 10px;
    font-size: 15px;
}
.update-error{
    padding: 15px;
    background-color: #ffe6ea;
    color: #ff0044;
    text-align: center;
    width: calc(100% - 30px);
    border-radius: 6px;
}

.update-success{
    padding: 15px;
    background-color: #dffff6;
    color: #06a980;
    text-align: center;
    width: calc(100% - 30px);
    border-radius: 6px;
    }
.add-role{
    color: #007acc;
    font-size: 20px;
    padding: 15px;
    cursor: pointer;
    position: absolute;
    top: 0px;
    }
.add-status{
    color: #007acc;
    font-size: 20px;
    padding: 15px;
    cursor: pointer;
    position: absolute;
    top: -2px;
    left: 135px;
    }
.remove-role{
    padding: 5px;
    cursor: pointer;
    padding-left: 10px;
    }
@media screen and (max-width: 800px) {
    .photo-edit{
        left: 0;
    }
    .profile-status-name{
        padding-left: 20px;
        margin: auto;
        margin-top: 10px;
    }
    .add-status{
        position: relative;
        left: 0;
        top: 0;
        padding: 10px;
        }
.mobile-center{
    text-align: center;
}
.row-role{
    justify-content: center;
}
.profile-resume, .profile-photo{
    margin-left: 50%;
    transform: translateX(-50%);
}
}