.apply-box{
    padding: 20px;
    border-radius: 6px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
    display: block;
    width: 640px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
.apply-success{
    padding: 15px;
    background-color: #dffff6;
    color: #06a980;
    text-align: center;
    width: calc(100% - 30px);
    border-radius: 6px;
    }
.apply-error{
    padding: 15px;
    background-color: #ffe6ea;
    color: #ff0044;
    text-align: center;
    width: calc(100% - 30px);
    border-radius: 6px;
}


@media screen and (max-width: 800px) {
    .apply-box{
        padding: 40px;
        box-shadow: none;
        border-radius: unset;
        margin: auto;
        width: 320px;
    }
}
@media screen and (max-width: 400px) {
    .apply-box{
        width: auto;
    }
}