.add-trainee{
    color: #007acc;
    font-size: 20px;
    padding: 15px;
    cursor: pointer;
    top: 0px;
    }
.trainees-box{
        padding: 10px;
        margin-left: 20px;
        margin-right: 20px;
        text-align: center;
    }
.schedule-box{
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    align-items: center;
}
.remove-schedule{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    cursor: pointer;
}
.remove-schedule:hover{
    color: #007acc;
}
.green-check{
    border: 2px solid #00cba2;
    border-radius: 50%;
    padding: 5px;
    color: #00cba2;
}
.assignment-attachment{
    margin: auto;
    margin-top: 10px;
    padding: 5px;
    border-radius: 6px;
    border: 2px solid #007acc;
    width: fit-content;
    font-size: 17px;
    cursor: pointer;
}
.assignment-attachment:hover{
    background-color: rgba(0,0,0,0.1);
}
.add-ass{
    padding: 7px 15px;
    width: 100%;
    text-align: center;
    height: 36px;
    margin: auto;
    margin-top: 20px;
}
.answer-card{
    padding: 20px;
    border-radius: 6px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
    position: relative;
    margin: 20px;
    min-width: 220px;
}
.schedule-card{
    padding: 20px;
    border-radius: 6px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
    position: relative;
    margin: 20px;
    min-width: 300px;
}
.couse-schedule-box{
  width: fit-content;
  margin: auto;
  max-width: 100%;
}
.batchBtn{
    background-color: #007acc;
    color: #fff;
    width: fit-content;
    border-radius: 6px;
    cursor: pointer;
}
.batchBtn:hover{
    background-color: #005c9a;
}
td, th{
    padding: 20px;
    border: 1px solid rgba(0, 122, 204,0.3);
    text-align: center;
}
table{
    margin: auto;
    padding: 10px;
    border-collapse: collapse;
}
.course-view{
    overflow-x: auto;
    padding: 20px;

}
.hmap{
    overflow-x: auto;
    width: 100%;
    justify-content: flex-start;
}
.trainees-card{
        padding: 5px;
        border-radius: 6px;
        /* box-shadow: 3px 3px 10px rgba(0,0,0,0.2); */
        border: 1px solid rgba(0, 122, 204,0.3);
        position: relative;
        cursor: pointer;
        display: inline-block;
        margin: 5px;
    }
    .remove-trainee {
        padding: 5px;
        cursor: pointer;
        padding-left: 10px;
    }
    .remove-trainee:hover{
        color: #007acc;
    }