.courses-box {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}
.course-card{
    padding: 20px;
    border-radius: 6px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
    position: relative;
    display: inline-block;
    margin: 20px;
}
.course-card:hover{
    box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
}
.course-code{
    border-radius: 6px;
    font-size: 15px;
    font-weight: 700;
    padding: 5px;
    border: 2px solid #007acc;
    width: fit-content;
    height: fit-content;
}
.course-name{
    font-size: 15px;
    padding: 5px;
    font-weight: 500;
}
.course-des{
    font-size: 14px;
    padding: 5px;
    height: 100px;
    overflow-y: auto;
}
.row-2 {
    display: inline-flex;
  }  
.course-column-50{
    width: calc(50% - 40px);
}
.edit-course{
    padding: 7px 15px;
    height: 36px;
    margin-left: 10px;
}
.c-right{
    justify-content: end;
}
.course-status{
    padding: 20px;
    text-align: center;
}
.course-status-tag{
    padding: 2px 10px;
    font-size: 12px;
    border: 1px solid #007acc;
    border-radius: 8px;
    height: 25px;
    width: fit-content;
}

@media screen and (max-width: 800px) {
    .course-column-50{
        width: calc(100% - 40px);
    }
    .edit-course{
        margin: 0;
        margin-top: -37px;
        margin-right: 10px;
    }
}