.dash-card{
    padding: 20px;
    border-radius: 6px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
    position: relative;
    cursor: pointer;
    display: inline-block;
    margin: 20px;
}
.user-card{
    padding: 20px;
    border-radius: 6px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
    position: relative;
    cursor: pointer;
    display: inline-block;
    margin: 20px;
}
.user-card:hover{
    box-shadow: 0px 0px 8px rgba(0, 122, 204,0.3);

}
.stat-title{
    font-size: 18px;
    padding: 10px;
    font-weight: 400;
}
.stat-item{
    padding: 10px 20px;
    font-size: 14px;
}
.user-photo{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin-right: 15px;
    margin-top: 8px;
}
.user-name{
    font-weight: 500;
}
.user-email{
    font-size: 14px;
}
.dash-box{
   padding: 20px; 
}
.user-role{
    border: 1px solid #007acc;
    padding: 5px;
    border-radius: 15px;
    margin-top: 5px;
    margin-right: 5px;
    font-size: 12px;
}